@import "tailwindcss";

:root {
  --color-primary: #00008f;
  --color-secondary: #fff;
  --color-third: #ff1721;
  --color-hover: #ff8e92;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-secondary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-hover);
}

button {
  background-color: var(--color-third);
  color: var(--color-secondary);
}
button:hover {
  background-color: #646cff;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.6em;
  line-height: 1.2;
  margin-bottom: 0.5em;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}